<div class="contact">
	<h3>Contact</h3>	
	<div class="contact-emails">
		<p>giuseppecuce.og@gmail.com</p>
		<p>daniloucursd@gmail.com</p>
	</div>
	<div class="contact-tel">
		<p>+39 444444444</p>
	</div>
	<div>
		<form [formGroup]="contactForm">
			<label>
				<input type="text" formControlName="firstName" placeholder="First name">
			</label>
			<label>
				<input type="text" formControlName="lastName" placeholder="Last name">
			</label>
			<label>
				<input type="email" formControlName="email" placeholder="Email">
			</label>
			<label>
				<textarea rows="7" cols="20" formControlName="message" placeholder="Message"></textarea>
			</label>							
		</form>		
	</div>
</div>