<div class="mibhome">
	<div class="mibhome-head">
		This is Mib
	</div>
	<div class="mibhome-intro">
		<h3>Services</h3>
		<p>We design and build websites and webapp with you, only around a <a href="#">sami pizza</a>.</p>
	</div>
	<div class="mibhome-about">
		<h3>About</h3>
		<p>we are Giuseppe and Danilo, a couple of cursd ones wo decided to give a significant contribution to the Internet.</p>
	</div>
	<div class="mibhome-works">
		<h3>Our Portfolio</h3>
		<p>Nothing to see here get the hell out of here and pay us</p>
	</div>	
	<div class="mibhome-skills">
		<h3>Skills</h3>		
		<div class="mibhome-skills-giuseppe">
			<h4>Giuseppe - FrontEnd Developer</h4>		
			<ul>
				<span>Development</span>
				<li>Html</li>
				<li>Css/Sass</li>
				<li>Bootstrap</li>
				<li>Javascript</li>
				<li>JQuery</li>
				<li>Typescript</li>
				<li>Angular</li>
				<li>AngularJs</li>
				<li>ionic</li>
				<li>Java</li>
				<li>PHP</li>
				<li>MySql</li>
				<li>Custom CMS</li>
				<li>GIT</li>
				<li>GitHub</li>
			</ul>
			<ul>
				<span>Design</span>
				<li>Photoshop</li>
				<li>Web Design</li>
			</ul>
			<ul>
				<span>Soft Skills</span>
				<li>I deal with finnish culture</li>
				<li>Mando la gente a fanculo</li>
				<li>Italian</li>
				<li>English</li>
				<li>Finnish</li>
			</ul>							
		</div>
		<div class="mibhome-skills-danilo">
			<h4>Danilo - Copywriter and a truly Cursd one</h4>
			<ul>
				<span>Writer</span>
				<li>SEO</li>
				<li>Writing</li>
			</ul>
			<ul>
				<span>Uhh Songs</span>
				<li>uuuuhhh</li>
				<li>yeeeee</li>
			</ul>
			<ul>
				<span>Soft Skills</span>
				<li>Mafia Intermediary</li>
				<li>Can see the unseen</li>
				<li>Italian</li>
				<li>English</li>
				<li>French</li>
			</ul>							
		</div>
	</div>	
	<div class="mibhome-contact">
		<h3>Contact</h3>	
		<div class="mibhome-contact-giuseppe">
			<p>email: giuseppecuce.og@gmail.com</p>
			<p>tel: +358 449771865</p>
		</div>
		<div class="mibhome-contact-danilo">
			<p>email: daniloucursd@gmail.com</p>
			<p>tel: +39 444444444</p>
		</div>
	</div>
</div>
